.site-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Arial, sans-serif;
}

.header {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #8bbccf;
    color: #30364e;
}

.footer {
    background-color: #20232a;
    color: white;
    padding: 20px;
    text-align: center;
}
