html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #edf6f9;
}

.header {
    background-color: #83c5be;
    color: #006d77;
    text-align: center;
    width: 100%;
    padding: 16px;
}

.footer {
    background-color: #006d77;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 16px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 350px;
}

.book__cover {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.book__author {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 400;
}

.book__author em {
    font-style: normal;
    font-weight: 600;
}

.book__link {
    text-decoration: none;
    background-color: #006d77;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 12px 0;
}
