html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #edf6f9;
}

.header {
    width: 100%;
    background-color: #83c5be;
    color: #006d77;
    text-align: center;
    padding: 16px 0;
    box-shadow: 0 4px 16px rgba(63, 72, 99, 0.5);
}

.footer {
    background-color: #20232a;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
